body {
  background: url(Imagens\ Desafio/fundoquiz.jpg);
}
section {
  background: white;
  border-radius: 7px;
  padding: 10px;
  width: 600px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);

  margin: auto;
}
header {
  text-align: center;
}
footer {
  text-align: center;
  font-style: italic;
}
.alternativas {
  display: flex;
  flex-direction: column;
}
#pergunta {
  margin-bottom: 10px;
}
.voltar ion-icon {
  display: flex;
  height: 3rem;
  width: 3rem;
  color: black;
}
